/*┌────────────────────────────────────────────────────────────────────┐*/
/*│ Contradiction Matrix Styles                                        │*/
/*└────────────────────────────────────────────────────────────────────┘*/
/*──Controls on tabular level───────────────────────────────────────────*/
table.trizMtx{                  /*Format for the main table*/
  border-collapse: collapse;    /*Fuse inner and outer borders*/
  font-family:                  /*Font family selection*/
    'Courier New',              /*Monospaced font*/
    monospace;                  /*Monospaced definition*/
  font-size: 15px;              /*Font size*/
  text-align: center;           /*Text alignment*/
}                               /*End of the style*/

table.trizMtx td{               /*Cell format for the main table*/
  border: 1px solid;            /*Border linewidth and type*/
  padding: 0px;                 /*No border-element separation*/
}                               /*End of the element*/

table.conCl{                    /*Format for the table contents*/
  border-collapse: collapse;    /*Fuse inner and outer borders*/
  border-style: hidden;         /*Border type*/
  background-color: #FFFACD;    /*Background solid color*/
}                               /*End of the style*/

table.conCl td,                 /*Pass style to the header*/

table.conCl th{                 /*Cell format for each content*/
  border: 1px dotted;           /*Border linewidth and type*/
  border-color: #88540B;        /*Border line color*/
  height: 20px;                 /*Cell height*/
  width: 20px;                  /*Cell width*/
}                               /*End of the element*/

table.hedCl{                    /*Format for the main header*/
  border-collapse: collapse;    /*Fuse inner and outer borders*/
  font-weight: bold;            /*Font weight*/
}                               /*End of the style*/

table.hedCl td,                 /*Pass style to the header*/

table.headCl th{                /*Cell format for the main header*/
  border: 1px hidden;           /*Border linewidth and type*/
  padding: 0px;                 /*No border-element separation*/
  height: 20px;                 /*Cell height*/
  width: 20px;                  /*Cell width*/
}                               /*End of the element*/

/*──Controls on cell level──────────────────────────────────────────────*/
td.digCl{                       /*Format of the diagonal cell*/
  background-color: #D6D6D6;    /*Background solid color*/
  height: 41px;                 /*Cell height*/
  width: 41px;                  /*Cell width*/
}                               /*End of the style*/

td.impCl{                       /*Format of the row header*/
  font-weight: bold;            /*Font weight*/
  font-size: 16px;              /*Font size*/
  background-color: #3EB489;    /*Background solid color*/
  height: 41px;                 /*Cell height*/
  width: 41px;                  /*Cell width*/
}                               /*End of the style*/

td.worCl{                       /*Format of the column header*/
  font-weight: bold;            /*Font weight*/
  font-size: 16px;              /*Font size*/
  background-color: #FF6961;    /*Background solid color*/
  height: 41px;                 /*Cell height*/
  width: 41px;                  /*Cell width*/
}                               /*End of the style*/

td.hedCr{                       /*Format of the main header box*/
  position: relative;           /*Relative position canvas*/
}                               /*End of the style*/

td.hedCr:after{                 /*Main header box diagonal line*/
  content: '';                  /*No additional text contents*/
  display: block;               /*Use the entire current block*/
  position: absolute;           /*Absolute position canvas*/
  width: 100%;                  /*Use entire width*/
  height: 100%;                 /*Use entire height*/
  top: 0;                       /*Starting Y coordinate*/
  left: 0;                      /*Starting X coordinate*/
  z-index: -1;                  /*Background position*/
  background:                   /*Background generation*/
    linear-gradient(            /*Linear gradient artifact*/
      to right top,             /*Gradient direction*/
      white,                    /*Gradient step 1*/
      white 49.0%,              /*Gradient step 2*/
      black 49.5%,              /*Gradient step 3*/
      black 50.5%,              /*Gradient step 4*/
      white 51.0%,              /*Gradient step 5*/
      white                     /*Gradient step 6*/
    )                           /*End of the artifact*/
}                               /*End of the style*/

/*┌────────────────────────────────────────────────────────────────────┐*/
/*│ General Document Styles                                            │*/
/*└────────────────────────────────────────────────────────────────────┘*/
/*──Custom error control────────────────────────────────────────────────*/
input.inpError{                 /*Format for input errors*/
  outline: 1px solid red;       /*Box outline highlighting*/
}                               /*End of the style*/

/*──Custom selector controls────────────────────────────────────────────*/
select.box{                     /*Format for attributes selectors*/
  width: 50px;                  /*Selector width*/
}                               /*End of the style*/